/* Google Fonts から M+ Round を読み込む */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
/* Zen Maru Gothic を読み込む */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@700&display=swap');
@import "tailwindcss";

:root {
  --background: #fffaf8;
  --foreground: #2b180e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #100e0d;
    --foreground: #fffaf8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: 700;
  font-family: 'Zen Maru Gothic', sans-serif;
  line-height: 1.3;
  margin: 0.5rem 0 0.5rem;
}

h2 {
  font-size: clamp(1.15rem, 2.5vw, 1.5rem);
  font-weight: 700;
  font-family: 'Zen Maru Gothic', sans-serif;
  line-height: 1.4;
  margin: 1rem 0 0.5rem;
}

h3 {
  font-size: clamp(1.0rem, 2.5vw, 1.25rem);
  font-weight: 700;
  font-family: 'Zen Maru Gothic', sans-serif;
  line-height: 1.4;
  margin: 1rem 0 0.5rem;
}

p {
  font-size: clamp(0.9rem, 2vw, 1.0rem);
  /* 約15.2〜17.6px */
  font-family: 'Hiragino Sans', 'ヒラギノ角ゴシック', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.0rem;
  white-space: pre-wrap;
}

footer p{
  font-size: clamp(0.5rem, 2vw, 0.7rem);
}

#mainTitle {
  position: sticky;
  max-width: 740px;
  top: 0;
  z-index: 1000;
  /* 背景でチラつきを防ぐ */
  font-size: clamp(2rem, 6vw, 3rem);
  padding: 0rem 0rem 0.5rem;
  /* 上 右左 下*/
  transition: all 0.3s ease;
}

/* 最初の状態 */
.mainTitleLink {
  font-family: var(--tw-font-heading, "Zen Maru Gothic", sans-serif);
  font-weight: 700;
  display: inline-block;
  transform-origin: top left;
  transition: transform 0.3s ease;

  font-size: clamp(1.5rem, 5vw, 3rem);
  line-height: 1.2;
  margin: 1.5rem 0 1rem;
  text-decoration: none;
}

/* 縮小された状態 */
.mainTitleLink.shrink {
  transform: scale(0.85);
}

.mainContent {
  max-width: 720px;
  /* 必要なら幅制限 */
  margin: 0 auto;
  /* 中央寄せ */
  padding: 0 1.0rem;
  /* 左右の余白（レスポンシブ意識） */
}

/* 画面左右の余白を最小限に。 */
main {
  padding: 0rem 2rem;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

@media (min-width: 768px) {
  .shifted main {
    margin-left: 240px;
    width: calc(100% - 240px);
  }
}